.mainH{
	color:green;
	text-align:center;
	padding:10px;
}
.content_trigger{
	margin:0;
	padding:10px;
	display:flex;
	background-color:#f0f0f0;
	height:45px;
	width:100%;
}
.content_trigger ul li{
	display:inline-block;
	cursor:pointer;
	padding-left:10px;
	padding-right:5px;
}
.content_trigger ul li:hover,.content_trigger ul li:active{
	background-color:#fff;
}
.content_trigger{
	list-style:none;
}
.contentBox{
	display:none;
	background-color:#fff;
	color:#000;
	margin-top:10px;
}
.para{
	color:blue;
}